#app-header-desktop
    display: none

/** ######################## MOBILE HEADERS ####################### **/
#app-header-mobile-top,
#app-header-mobile-bottom
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.4em 0.7em
    background: linear-gradient(#4787ff, #4772ff)
    color: white
    position: fixed
    top: 0
    left: 0
    z-index: 100

#app-header-mobile-top
    padding: 0.5em 0.7em
    
    h2
        font-size: 1.6rem

    .categories

        select
            padding: 0.2em
            border: 1px solid #3360f5
            border-radius: 5px 
            background-color: #4787ff
            color: white
            font-size: 1.1em
    
#app-header-mobile-bottom
    top: initial
    bottom: 0

    svg
        fill: white
        height: auto
        cursor: pointer
        padding: 0.3em

    .feed
        width: 2em

        svg
            width: 100%
            display: block

    .search-wrapper
        display: flex
        align-items: center
        
        input 
            display: none
            width: 6em
            padding: 0.6em 0.4em
            color: #444444
            border-radius: 5px

        .icon-wrapper
            width: 2em

            svg
                width: 100%
                display: block

    .chats
        
        svg
            width: 2em

    .profile-logout

        .profile

            p
                display: none
            
            svg
                width: 2em

        .logout
            display: none

/** ##################### MEDIA QUERIES ################## **/
@media (min-width: 768px)
    #app-header-mobile-bottom,
    #app-header-mobile-top
        display: none

    #app-header-desktop
        position: fixed
        top: 0
        left: 0
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0.5em 2em
        color: white
        background: linear-gradient(#4787ff, #4772ff)

        svg
            fill: white
            height: auto
            padding: 0.3em
            cursor: pointer

        .search-wrapper
            border-radius: 5px
            background-color: white
            display: flex
            align-items: center

            input
                border: none
                border-radius: 5px 
                padding: 0.2em 0.4em
                color: #444444
                outline: none

            .icon-wrapper
                border-left: 1px solid #f5f5f5
                width: 1.8em

                svg
                    width: 100%
                    fill: #444

        .app-logo

            h2
                font-size: 2.3em
                cursor: pointer

        .profile-logout
            display: flex
            align-items: center

            .profile,
            .logout
                display: flex
                align-items: center
                cursor: pointer

                svg
                    width: 1.8em
                    margin-right: 0.3em

            .profile
                margin-right: 2em
                
                img
                    width: 1.8em
                    height: 1.8em
                    margin-right: 0.5em
                    border-radius: 50%
                    background-color: white