article
    display: flex
    justify-content: flex-start
    align-items: center
    color: #555
    padding: 0.4em 0.2em
    margin: 0.4em 0
    cursor: pointer
    outline: none

    &:hover
        background-color: #f2fcff

        svg
            display: inline-block

    img
        margin-left: 0.4em
        margin-right: 0.8em
        width: 1.1em
        height: auto

.category-selected
    border-right: 2px solid #3cdd1c
    

article.profile
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    color: #444
    border-radius: 5px
    padding: 0.4em
    margin: 0.4em 0
    cursor: default
    &:hover
        background-color: #EEF9FE

        svg
            opacity: 1
    
    svg
        opacity: 0
        width: 1em
        margin-left: 1em
        color: #ff4444
        cursor: pointer

    img
        margin-right: 1em
        width: 1.1em
        height: auto