<article [ngClass]="{'profile': currentView === 'profile'}" [ngSwitch]="currentView"
    [routerLinkActive]="['category-selected']">
    <div class="category-wrapper" [routerLink]="['/category', category.category_name, category.id]">
        <img [src]="category.category_icon" alt="category.category_name">
        <p>{{capitalize(category.category_name)}}</p>
    </div>
    <svg *ngSwitchCase="'profile'" (click)="unfollowCategory(category.id)" title="unfollow" aria-hidden="true"
        focusable="false" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor"
            d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
        </path>
    </svg>
    <span *ngSwitchCase="'search'">
        <svg *ngIf="!category.following" (click)="followCategory(category.id)" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="plus" class="follow-icon svg-inline--fa fa-plus fa-w-14" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                <title>Follow</title>
            </path>
        </svg>
        <svg *ngIf="category.following" xmlns='http://www.w3.org/2000/svg' width='512' height='512'
            viewBox='0 0 512 512'>
            <title>Following</title>
            <polyline points='416 128 192 384 96 288'
                style='fill:none;stroke:#44c511;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' />
        </svg>
    </span>
</article>