.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.5em
    border-radius: 5px
    color: white
    background-color: #7D67F7

    .icon
        width: 1em
        fill: white
        cursor: pointer

.categories
    padding-top: 0.5em
    article
        display: flex
        justify-content: flex-start
        align-items: center
        color: #444
        padding: 0.4em 0.2em
        margin: 0.4em 0
        cursor: pointer
        &:hover
            color: #666

        img
            margin-right: 1em
            width: 1.1em
            height: auto