<article>
    <header>
        <div class="profile-image" [routerLink]="['/user', post.user_id]"
            [ngStyle]="{'background-image': 'url(' + post.user_picture + ')', 'background-size': 'cover', 'background-position': 'center'}">
        </div>
        <div class="name-date">
            <p [routerLink]="['/user', post.user_id]">
                {{post.user_name}} {{post.user_last_name}}
            </p>
            <span>
                {{formatTime(post.post_creation_date)}}
            </span>
        </div>
        <p [routerLink]="['/category', post.category_name, post.category_id]">
            {{capitalize(post.category_name)}}
        </p>
    </header>
    <main>
        <p>{{post.post_body}}</p>
        <img *ngIf="post.post_picture" [src]="post.post_picture">
    </main>
</article>