<section class="posts" *ngIf="feed">
    <article *ngFor="let post of feed">
        <header>
            <div class="img-wrapper">
                <img [src]="post.user_picture" [routerLink]="['/user', post.user_id]">
            </div>
            <div class="name-date">
                <p [routerLink]="['/user', post.user_id]">{{post.user_name}} {{post.user_last_name}}</p>
                <span>{{formatTime(post.post_creation_date)}}</span>
            </div>
            <p [routerLink]="['/category', post.category_name, post.category_id]"
                (click)="setCurrentViewCategory('category', post.category_name)">{{capitalize(post.category_name)}}</p>
        </header>
        <main>
            <p>{{post.post_body}}</p>
            <img *ngIf="post.post_picture" [src]="post.post_picture">
        </main>
    </article>
</section>