h1
    color: #3d29ac
    font-size: 2.2rem
    margin: 1em 0
    margin-top: 0
    text-align: center

.search
    display: flex
    justify-content: center
    align-items: center
    padding: 0.7em 1em
    color: #7dc4ff
    // border: 1px solid #7D67F7
    border: 1px solid #7dc4ff
    border-radius: 5px
    background-color: white
    cursor: pointer

    svg
        width: 1.6em
        height: 1.6em
        fill: #7dc4ff
        margin-right: 1em

    &:hover
        background-color: #fbfeff

.container
    margin: 2em 0
    border: 1px solid #7dc4ff
    border-radius: 5px
    overflow: hidden
    background-color: white

    .profile,
    .logout
        padding: 0.7em 1em
        border-bottom: 1px solid #7dc4ff
        display: flex
        align-items: center
        cursor: pointer

        &:hover
            background-color: #fbfeff

        &:last-child
            border-bottom: none

        img
            width: 1.6em
            height: 1.6em
            border-radius: 50%
            margin-right: 1em

        h4
            color: #666