<!-- <div class="backdrop"></div> -->
<div class="escribirPost">
    <div class="escribirPostHeader">
        <p>Create post</p>
        <img src="../../assets/images/times-solid.svg">
    </div>
    <div class="escribirPostMain">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
            class="fotoUsuarioAddPost">
        <input type="text" placeholder="Share your thoughts...">
    </div>
    <hr>
    <div class="escribirPostFooter">
        <div class="postFooterIconWrapper">
            <img src="../../assets/images/image-solid.svg" alt="image" class="icon">
            <span>Photo/Video</span>
        </div>
        <div class="postFooterIconWrapper">
            <img src="../../assets/images/link-solid.svg" alt="link" class="icon">
            <span>Link</span>
        </div>
    </div>
</div>
<section class="posts">
    <article *ngFor="let post of feed">
        <header>
            <div class="img-wrapper">
                <img [src]="post.author_picture">
            </div>
            <div class="name-date">
                <p>{{post.author_name}} {{post.author_last_name}}</p>
                <span>{{formatTime(post.creation_date)}}</span>
            </div>
        </header>
        <main>
            <p>{{post.body}}</p>
        </main>
    </article>
</section>