<div class="backdrop"></div>
<div class="escribirPost">
    <div class="escribirPostHeader">
        <p>Create post</p>
        <img src="../../assets/images/times-solid.svg">
    </div>
    <div class="escribirPostMain">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
            class="fotoUsuarioAddPost">
        <input type="text" placeholder="Share your thoughts...">
    </div>
    <hr>
    <div class="escribirPostFooter">
        <div class="postFooterIconWrapper">
            <img src="../../assets/images/image-solid.svg" alt="image" class="icon">
            <span>Photo/Video</span>
        </div>
        <div class="postFooterIconWrapper">
            <img src="../../assets/images/link-solid.svg" alt="link" class="icon">
            <span>Link</span>
        </div>
    </div>
</div>
<div class="seccionPosts">
    <div class="post">
        <div class="headerPost">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
                class="fotoUsuario">
            <div class="cuerpoHeaderPost">
                <p>Michael Scott</p>
                <p>Today 16:34</p>
            </div>
        </div>
        <div class="cuerpoPost">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor similique delectus
                inventore totam et voluptate reiciendis fugit possimus.</p>
            <div class="footerCuerpoPost">
                <a href="#">
                    <p>Read More</p>
                </a>
                <i class="fas fa-comment-alt"></i>
            </div>
        </div>
    </div>

    <div class="post">
        <div class="headerPost">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg" alt=""
                class="fotoUsuario">
            <div class="cuerpoHeaderPost">
                <p>Michael Scott</p>
                <p>Today 16:34</p>
            </div>
        </div>
        <div class="cuerpoPost">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maxime dolor similique delectus
                inventore totam et voluptate reiciendis fugit possimus.</p>
            <div class="footerCuerpoPost">
                <a href="#">
                    <p>Read More</p>
                </a>
                <i class="fas fa-comment-alt"></i>
            </div>
        </div>
    </div>
</div>