<section class="container">
    <div class="search-wrapper">
        <input type="text" (input)="search($event.target.value)" [placeholder]="'Search ' + currentlySearching + '...'">
        <button class="search-button">Search</button>
    </div>
    <section class="search-by">
        <article class="search-item active" (click)="toggleActive($event.currentTarget, 'categories')">
            <img src="../../assets/images/shapes-solid.svg" alt="category">
            <p>Categories</p>
        </article>
        <article class="search-item" (click)="toggleActive($event.currentTarget, 'posts')">
            <img src="../../assets/images/newspaper.svg" alt="post">
            <p>Posts</p>
        </article>
        <article class="search-item" (click)="toggleActive($event.currentTarget, 'users')">
            <img src="../../assets/images/user-solid.svg" alt="user">
            <p>Users</p>
        </article>
    </section>
    <main>
        <!-- SEARCHING FOR CATEGORIES -->
        <section class="categories" *ngIf="searchResults && currentlySearching === 'categories'">
            <article *ngFor="let category of searchResults"
                [routerLink]="['/category', category.category_name, category.id]"
                (click)="setCurrentViewCategory('category', category.category_name)">
                <img [src]="category.category_icon" alt="category.category_name">
                <p>{{capitalize(category.category_name)}}</p>
            </article>
        </section>
        <!-- SEARCHING FOR POSTS -->
        <section class="posts" *ngIf="searchResults && currentlySearching === 'posts'">
            <article *ngFor="let post of searchResults">
                <header>
                    <div class="img-wrapper">
                        <img [src]="post.user_picture" [routerLink]="['/user', post.user_id]"
                            (click)="setCurrentViewCategory('user')">
                    </div>
                    <div class="name-date">
                        <p [routerLink]="['/user', post.user_id]" (click)="setCurrentViewCategory('user')">
                            {{post.user_name}} {{post.user_last_name}}</p>
                        <span>{{formatTime(post.post_creation_date)}}</span>
                    </div>
                    <p [routerLink]="['/category', post.category_name, post.category_id]"
                        (click)="setCurrentViewCategory('category', post.category_name)">
                        {{capitalize(post.category_name)}}</p>
                </header>
                <main>
                    <p>{{post.post_body}}</p>
                    <img *ngIf="post.post_picture" [src]="post.post_picture">
                </main>
            </article>
        </section>
        <!-- SEARCHING FOR USERS -->
        <section class="users" *ngIf="searchResults && currentlySearching === 'users'">
            <article *ngFor="let user of searchResults">
                <header>
                    <img [src]="user.user_picture" [alt]="user.user_name + user.user_last_name + ' picture'">
                </header>
                <main>
                    <h4>{{user.user_name}} {{user.user_last_name}}</h4>
                    <button [routerLink]="['/user', user.id]" (click)="setCurrentViewCategory('user')">View
                        profile</button>
                </main>
            </article>
        </section>
    </main>
</section>