<section class="container">
    <div class="search-wrapper">
        <input type="text" (input)="search($event.target.value)" [placeholder]="'Search ' + currentlySearching + '...'">
        <button class="search-button">Search</button>
    </div>
    <section class="search-by">
        <article class="search-item active" (click)="toggleActive($event.currentTarget, 'categories')">
            <img src="../../assets/images/shapes-solid.svg" alt="category">
            <p>Categories</p>
        </article>
        <article class="search-item" (click)="toggleActive($event.currentTarget, 'posts')">
            <img src="../../assets/images/newspaper.svg" alt="post">
            <p>Posts</p>
        </article>
        <article class="search-item" (click)="toggleActive($event.currentTarget, 'users')">
            <img src="../../assets/images/user-solid.svg" alt="user">
            <p>Users</p>
        </article>
    </section>
    <main>
        <!-- SEARCHING FOR CATEGORIES -->
        <section class="categories" *ngIf="searchResults && currentlySearching === 'categories'">
            <app-category *ngFor="let category of searchResults" [category]="category"></app-category>
        </section>
        <!-- SEARCHING FOR POSTS -->
        <section class="posts" *ngIf="searchResults && currentlySearching === 'posts'">
            <app-post *ngFor="let post of searchResults" [post]="post"></app-post>
        </section>
        <!-- SEARCHING FOR USERS -->
        <section class="users" *ngIf="searchResults && currentlySearching === 'users'">
            <article *ngFor="let user of searchResults">
                <header>
                    <img [src]="user.user_picture" [alt]="user.user_name + user.user_last_name + ' picture'">
                </header>
                <main>
                    <h4>{{user.user_name}} {{user.user_last_name}}</h4>
                    <button [routerLink]="['/user', user.id]">View
                        profile</button>
                </main>
            </article>
        </section>
    </main>
</section>