<div id="home" *ngIf="infoLoaded">
    <!-- This header is for mobile only. It is going to show on the bottom of the screen -->
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="leftbar">
        <app-left-bar-desktop></app-left-bar-desktop>
        <app-category></app-category>
    </div>
    <div class="main show">
        <div class="main-header" *ngIf="currentView" [ngSwitch]="currentView">
            <h4 *ngSwitchCase="'category'">{{capitalize(currentCategory)}}</h4>
            <h4 *ngSwitchCase="'search'">Search</h4>
            <h4 *ngSwitchCase="'profile'">Profile</h4>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="chats">

    </div>
    <div class="nav-mobile">
        <app-nav-mobile></app-nav-mobile>
    </div>
</div>