<div id="home" *ngIf="infoLoaded">
    <!-- This header is for mobile only. It is going to show on the bottom of the screen -->
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="leftbar">
        <app-left-bar-desktop></app-left-bar-desktop>
        <app-category></app-category>
    </div>
    <div class="main show">
        <div class="main-header" *ngIf="currentView && currentCategory" [ngSwitch]="currentView">
            <div *ngSwitchCase="'category'">
                <h4>{{capitalize(currentCategory)}}</h4>
                <a [routerLink]="['/add-post']">Create post</a>
            </div>
            <div *ngSwitchCase="'search'">
                <h4>Search</h4>
                <a [routerLink]="['/add-post']">Create post</a>
            </div>
            <div *ngSwitchCase="'add-post'">
                <h4>Create post</h4>
            </div>
            <div *ngSwitchCase="'user'">
                <h4>User</h4>
                <a [routerLink]="['/add-post']">Create post</a>
            </div>
            <div *ngSwitchCase="'profile'">
                <h4>Profile</h4>
                <a [routerLink]="['/add-post']">Create post</a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="chats">

    </div>
    <div class="nav-mobile">
        <app-nav-mobile></app-nav-mobile>
    </div>
</div>