#home
    width: 100%
    min-height: 100vh
    padding: 50px 0

    .leftbar,
    .main,
    .chats
        display: none

    .show
        display: initial

    .main-header
        display: none

/** ################ DESKTOP ################ **/
@media (min-width: 1025px)
    #home
        max-width: 1200px
        margin: 0 auto
        padding: initial
        display: grid
        grid-template-columns: 1fr 2fr 1.5fr
        grid-template-areas: 'leftbar main chats'
        column-gap: 3em

        .header
            display: none

        .leftbar,
        .main,
        .chats
            display: initial
    
        .leftbar
            grid-area: 'leftbar'
            padding-top: 1em

        .main
            grid-area: 'main'

            .main-header
                display: block
                width: 100%
                border-bottom: 1px solid #dbf1ff
                padding: 0.8em 1em
                color: #666
                background-color: white
                font-weight: bold
                box-shadow: 3px 3px 3px #bbd7eb

                div
                    display: flex
                    justify-content: space-between
                    align-items: center

                    a
                        font-size: 0.9em
                        color: #1582e7
                        text-decoration: none


        .chats
            grid-area: 'chats'

        .nav-mobile
            display: none