<div id="home" *ngIf="myInfo">
    <!-- This header is for mobile only. It is going to show on the bottom of the screen -->
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="leftbar">
        <app-left-bar-desktop></app-left-bar-desktop>
        <app-category></app-category>
    </div>
    <div class="main show">
        <router-outlet></router-outlet>
    </div>
    <div class="chats">

    </div>
    <div class="nav-mobile">
        <app-nav-mobile></app-nav-mobile>
    </div>
</div>